:root {
  /* Colors */
  --blue-900: #130c2e;
  --blue-800: #150c39;
  --blue-700: #1b1145;
  --blue-600: #291a55;
  --blue-500: #3f2e74;
  --violet-900: #301c59;
  --violet-800: #2c1a52;
  --violet-200: #905ef7;
  --violet-900A: #5e188c;
  --violet-500A: #6c17a6;
  --purple-900: #6812bf;
  --yellow-900: #fff01a;
  --danger: #e91e63;
  /* Fonts */
  --roboto: "Roboto", sans-serif;
  --robotoCondensed: "Roboto Condensed", sans-serif;
}

body {
  font-family: var(--roboto);
  color: white;
  background-color: var(--blue-900) !important;
}

h1,
h2,
h3 {
  color: white;
  font-family: var(--robotoCondensed);
}

form .inputs-wrapper {
  margin: 32px 0;
}
form .form-group:not(:last-child) {
  margin-bottom: 24px;
}
form label {
  color: white;
}
form label sup {
  color: var(--yellow-900);
}
form .input {
  background: var(--violet-800) !important;
  border-radius: 8px;
  padding: 4px 8px;
  color: white;
  border-color: transparent;
  height: 40px;
}
form .input.invalid {
  border-color: var(--danger);
}
form .input:focus {
  box-shadow: 0 0 0 0.2rem #6812bf;
}
form .input::placeholder {
  color: var(--blue-500);
}
form .error-message {
  color: var(--danger);
  margin-top: 4px;
}
form .error-message::first-letter {
  text-transform: capitalize;
}

.btn.btn-primary {
  min-width: 160px;
  min-height: 44px;
  border-radius: 10px;
  font-size: 14px;
  transition: all 0.25s ease-in-out;
}

.btn.btn-primary {
  background-color: var(--purple-900);
  color: white;
  border: none;
  font-weight: 500;
}
.btn.btn-primary:hover {
  color: var(--blue-900);
  background-color: var(--yellow-900);
}
.btn.btn-primary:hover a {
  background-color: var(--yellow-900);
  color: var(--blue-900);
}
.btn.btn-primary:active, .btn.btn-primary:focus {
  background-color: var(--yellow-900) !important;
  transform: scale(0.98);
  color: var(--blue-900) !important;
}
.btn.btn-primary:active a, .btn.btn-primary:focus a {
  color: var(--blue-900) !important;
}

.lds-ripple {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
}

.lds-ripple div {
  position: absolute;
  border: 4px solid #fff;
  opacity: 1;
  border-radius: 50%;
  animation: lds-ripple 1s cubic-bezier(0, 0.2, 0.8, 1) infinite;
}

.lds-ripple div:nth-child(2) {
  animation-delay: -0.5s;
}

@keyframes lds-ripple {
  0% {
    top: 36px;
    left: 36px;
    width: 0;
    height: 0;
    opacity: 1;
  }
  100% {
    top: 0px;
    left: 0px;
    width: 72px;
    height: 72px;
    opacity: 0;
  }
}
.page-spinner {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: var(--violet-900);
  display: flex;
  align-items: center;
  justify-content: center;
}
.page-spinner .lds-hourglass {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
}
.page-spinner .lds-hourglass:after {
  content: " ";
  display: block;
  border-radius: 50%;
  width: 0;
  height: 0;
  margin: 8px;
  box-sizing: border-box;
  border: 32px solid #fff;
  border-color: #fff transparent #fff transparent;
  animation: lds-hourglass 1.2s infinite;
}
@keyframes lds-hourglass {
  0% {
    transform: rotate(0);
    animation-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
  }
  50% {
    transform: rotate(900deg);
    animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
  }
  100% {
    transform: rotate(1800deg);
  }
}

.navbar {
  background-color: var(--blue-900);
  box-shadow: 0 2px 0.5rem rgba(104, 18, 191, 0.34);
  border-bottom: 1px solid var(--purple-900);
  padding: 0 !important;
}
.navbar .container {
  height: 100%;
}
.navbar ul {
  display: flex;
  width: 100%;
  justify-content: flex-end;
}
.navbar ul a {
  color: white;
  display: block;
  height: 60px;
  display: flex;
  align-items: center;
  padding: 10px 20px;
  transition: all 0.25s ease-in-out;
}
.navbar ul a.active {
  color: white;
  background-color: var(--purple-900);
}
.navbar ul a:hover {
  text-decoration: none;
  background-color: var(--blue-500);
}

main.auth .container {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 32px;
  padding-bottom: 32px;
}
main.auth h1 {
  font-size: 32px;
  margin-bottom: 4px;
}
main.auth form {
  width: min(100%, 400px);
  border: 1px solid var(--purple-900);
  box-shadow: 0 0 0.5rem rgba(0, 0, 0, 0.1);
  padding: 44px 32px;
  border-radius: 12px;
}
main.auth form h1 + p {
  color: var(--violet-200);
  font-size: 14px;
}
main.auth form h1 + p a {
  color: white;
  text-decoration: underline;
}
main.auth form h1 + p a:hover {
  color: var(--yellow-900);
}

.dashboard main {
  padding: 32px 0;
}

.home .carousel-item {
  min-height: calc(100vh - 60px);
}
.home .carousel-item .heading {
  font-size: 28px;
  margin-bottom: 8px;
  color: var(--violet-200);
}
.home .carousel-item img {
  max-height: 60vh;
}

/*# sourceMappingURL=app.css.map */
