:root {
  /* Colors */
  --blue-900: #130c2e;
  --blue-800: #150c39;
  --blue-700: #1b1145;
  --blue-600: #291a55;
  --blue-500: #3f2e74;
  --violet-900: #301c59;
  --violet-800: #2c1a52;
  --violet-200: #905ef7;
  --violet-900A: #5e188c;
  --violet-500A: #6c17a6;
  --purple-900: #6812bf;
  --yellow-900: #fff01a;
  --danger-900: #e91e63;
  --danger-800: rgba(220, 56, 72, 0.23);
  --danger-700: rgba(220, 56, 72, 0.16);
  --success-900: rgb(53, 220, 109);
  --success-800: rgba(53, 220, 109, 0.23);
  --success-700: rgba(53, 220, 109, 0.16);
  /* Fonts */
  --roboto: "Roboto", sans-serif;
  --robotoCondensed: "Roboto Condensed", sans-serif;
}

body {
  font-family: var(--roboto);
  color: white;
  background-color: var(--blue-900) !important;
}

h1,
h2,
h3 {
  color: white;
  font-family: var(--robotoCondensed);
}

@media (max-width: 767px) {
  h1 {
    font-size: 24px !important;
  }

  h2 {
    font-size: 20px;
  }

  h3 {
    font-size: 16px;
  }
}
hr {
  border-top: 1px solid var(--violet-800) !important;
}

.underline {
  position: relative;
  display: inline-block;
}
.underline::before {
  content: "";
  height: 6px;
  position: absolute;
  bottom: 0;
  right: 0;
  left: 0;
  background-color: var(--purple-900);
  opacity: 0.6;
  transform: translateY(-100%);
}

form .inputs-wrapper {
  margin: 32px 0;
}
form .form-group:not(:last-child) {
  margin-bottom: 24px;
}
form label {
  color: white;
}
form label sup {
  color: var(--yellow-900);
}
form .input {
  background: var(--violet-800) !important;
  border-radius: 8px;
  padding: 4px 8px;
  color: white;
  border-color: transparent;
  height: 40px;
}
form .input.invalid {
  border-color: var(--danger-900);
}
form .input:focus {
  box-shadow: 0 0 0 0.2rem #6812bf;
}
form .input::placeholder {
  color: var(--blue-500);
}
form .error-message {
  color: var(--danger);
  margin-top: 4px;
}
form .error-message::first-letter {
  text-transform: capitalize;
}
form .custom-radio {
  position: relative;
}
form .custom-radio input[type=radio] {
  position: relative;
  z-index: 2;
  width: 32px;
  height: 32px;
  opacity: 0.01;
  margin-left: 16px;
}
form .custom-radio input[type=radio]:not(:disabled) {
  cursor: pointer;
}
form .custom-radio input[type=radio]:checked + i {
  color: var(--purple-900);
}
form .custom-radio i {
  font-size: 32px;
  position: absolute;
  right: 0;
  top: 50%;
  z-index: 1;
  transform: translateY(-50%);
  color: var(--violet-800);
}

.btn.btn-primary {
  position: relative;
  min-width: 160px;
  min-height: 44px;
  border-radius: 10px;
  font-size: 14px;
  transition: all 0.25s ease-in-out;
}

.btn.btn-primary {
  background-color: var(--purple-900);
  color: white;
  border: none;
  font-weight: 500;
}
.btn.btn-primary:hover {
  color: var(--blue-900);
  background-color: var(--violet-200);
}
.btn.btn-primary:hover a {
  background-color: var(--violet-200);
  color: var(--blue-900);
}
.btn.btn-primary:active, .btn.btn-primary:focus {
  background-color: var(--violet-200) !important;
  box-shadow: 0 0 0 0.2rem var(--purple-900) !important;
  transform: scale(0.98);
  color: var(--blue-900) !important;
}
.btn.btn-primary:active a, .btn.btn-primary:focus a {
  color: var(--blue-900) !important;
}
.btn.btn-primary:disabled {
  background-color: var(--blue-800);
}

.lds-ripple {
  position: absolute;
  top: 50%;
  right: 5px;
  transform: translateY(-50%);
  display: inline-block;
  width: 40px;
  height: 40px;
}

.lds-ripple div {
  position: absolute;
  border: 4px solid #fff;
  opacity: 1;
  border-radius: 50%;
  animation: lds-ripple 1s cubic-bezier(0, 0.2, 0.8, 1) infinite;
}

.lds-ripple div:nth-child(2) {
  animation-delay: -0.5s;
}

@keyframes lds-ripple {
  0% {
    top: 20px;
    left: 20px;
    width: 0;
    height: 0;
    opacity: 1;
  }
  100% {
    top: 0px;
    left: 0px;
    width: 40px;
    height: 40px;
    opacity: 0;
  }
}
.page-spinner {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: var(--violet-900);
  display: flex;
  align-items: center;
  justify-content: center;
}
.page-spinner .lds-hourglass {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
}
.page-spinner .lds-hourglass:after {
  content: " ";
  display: block;
  border-radius: 50%;
  width: 0;
  height: 0;
  margin: 8px;
  box-sizing: border-box;
  border: 32px solid #fff;
  border-color: #fff transparent #fff transparent;
  animation: lds-hourglass 1.2s infinite;
}
@keyframes lds-hourglass {
  0% {
    transform: rotate(0);
    animation-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
  }
  50% {
    transform: rotate(900deg);
    animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
  }
  100% {
    transform: rotate(1800deg);
  }
}

.navbar {
  background-color: var(--blue-900) !important;
  box-shadow: 0 2px 0.5rem rgba(104, 18, 191, 0.34);
  border-bottom: 1px solid var(--purple-900);
  padding: 0 !important;
}
.navbar .container {
  height: 100%;
  padding-right: 15px !important;
  padding-left: 15px !important;
}
.navbar .logo {
  font-size: 16px;
}
.navbar .dropdown-toggle {
  margin-left: 12px;
}
.navbar .navbar-toggler {
  background-color: var(--blue-800);
}
.navbar .dropdown-menu {
  background-color: var(--blue-900);
  border: 1px solid var(--purple-900);
  top: calc(100% + 8px);
  right: 0;
  left: unset;
  padding: 24px 16px;
}
.navbar .dropdown-menu hr {
  margin: 8px 0;
}
.navbar .dropdown-menu .dropdown-item {
  padding: 0;
  height: auto;
}
.navbar .dropdown-menu .dropdown-item:hover {
  background-color: transparent;
}
.navbar .dropdown-menu .dropdown-item:hover:not(.user-info) {
  color: var(--violet-200);
}
.navbar .user-info {
  display: flex;
  align-items: flex-start;
}
.navbar .user-info img {
  max-width: 40px;
  margin-right: 8px;
}
.navbar .user-info h4 {
  font-size: 16px;
  font-weight: bold;
  margin-bottom: 0;
}
.navbar .user-info span {
  font-size: 14px;
  color: rgba(255, 255, 255, 0.6);
}
.navbar .user-info:hover {
  color: white;
  opacity: 0.8;
}
.navbar ul {
  display: flex;
  width: 100%;
  justify-content: flex-end;
}
.navbar ul a {
  color: white;
  display: block;
  height: 60px;
  display: flex;
  align-items: center;
  transition: all 0.25s ease-in-out;
}
.navbar ul a:hover {
  text-decoration: none !important;
}
.navbar ul a.active {
  color: white;
  background-color: var(--purple-900);
}
.navbar ul a.nav-link {
  padding: 10px 20px !important;
}
.navbar ul a.nav-link:hover {
  background-color: var(--blue-500);
}
@media (max-width: 767px) {
  .navbar ul a {
    font-size: 14px;
    padding: 6px 10px;
    height: 40px;
  }
}

.toaster {
  color: white;
  margin: 0;
  padding: 16px;
  border-radius: 12px;
  max-width: 300px;
  font-size: 14px;
  transition: all 0.25s ease-in-out;
  display: flex;
  align-items: center;
  margin: 16px auto;
}
.toaster .icon {
  width: 32px;
  height: 32px;
  font-size: 14px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 12px;
  flex-shrink: 0;
}
.toaster.fixed {
  position: fixed !important;
  top: 0;
  left: 50%;
  z-index: 2;
  transform: translateX(-50%) translateY(-100%);
  margin: 0;
}
.toaster.fixed.show {
  top: 12px;
  transform: translateX(-50%);
}
.toaster.success {
  background-color: var(--purple-900) !important;
}
.toaster.success .icon {
  background-color: yellowgreen;
  color: white;
}
.toaster.danger {
  background-color: var(--danger-800) !important;
}
.toaster.danger .icon {
  background-color: var(--danger-700);
  color: rgba(255, 255, 255, 0.6);
}

main.auth .container {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 32px;
  padding-bottom: 32px;
  flex-direction: column;
}
main.auth .toaster {
  min-width: min(100%, 400px);
}
main.auth h1 {
  font-size: 32px;
  margin-bottom: 4px;
}
main.auth form {
  width: min(100%, 400px);
  border: 1px solid var(--purple-900);
  box-shadow: 0 0 0.5rem rgba(0, 0, 0, 0.1);
  padding: 44px 32px;
  border-radius: 12px;
}
main.auth form h1 + p {
  color: var(--violet-200);
  font-size: 14px;
}
main.auth form h1 + p a {
  color: white;
  text-decoration: underline;
}
main.auth form h1 + p a:hover {
  color: var(--yellow-900);
}

.dashboard main {
  padding: 32px 0;
}

.home .carousel-item {
  min-height: calc(100vh - 60px);
}
.home .carousel-item .heading {
  font-size: 28px;
  margin-bottom: 8px;
  color: var(--violet-200);
}
.home .carousel-item img {
  max-height: 60vh;
}

.dashboard main.add-test {
  padding: 60px 0 120px;
}
.dashboard main.add-test h1 {
  margin-bottom: 44px;
}
.dashboard main.add-test .question {
  position: relative;
}
.dashboard main.add-test .question .remove-question-btn {
  background-color: transparent;
  color: var(--danger);
  border: none;
  padding: 0;
  font-size: 20px;
  position: absolute;
  right: 0;
  top: -10px;
}
.dashboard main.add-test .question .remove-question-btn:hover {
  opacity: 0.8;
}
.dashboard main.add-test .question:not(:last-child) {
  margin-bottom: 44px;
}
.dashboard main.add-test .q-counter {
  width: 180px;
  height: 180px;
  border: 1px solid #6812bf52;
  border-radius: 42px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  box-shadow: 0 0 0.7rem #2c1a52;
  color: white;
  font-size: 20px;
}
.dashboard main.add-test legend {
  font-size: 20px;
  color: var(--violet-200);
}
.dashboard main.add-test .answer .inputs {
  display: flex;
  align-items: center;
}
.dashboard main.add-test .answer .custom-radio input[type=radio]:checked + i {
  color: yellowgreen;
}
.dashboard main.add-test .add-question-btn {
  position: fixed;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
  text-align: center;
  border: none;
  background-color: transparent;
}
.dashboard main.add-test .add-question-btn img {
  filter: drop-shadow(0px 0px 3px rgba(255, 255, 255, 0.1));
}
.dashboard main.add-test .add-question-btn:hover img {
  filter: drop-shadow(2px 4px 3px rgba(255, 255, 255, 0.25));
}

main.tests {
  padding: 60px 0;
}
main.tests h1 {
  margin-bottom: 44px;
}
main.tests .cards a:hover {
  text-decoration: none !important;
}
main.tests .admin-cards {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(230px, 250px));
  gap: 20px;
}
main.tests .admin-cards > li {
  border-top: 2px solid var(--purple-900);
  background-color: var(--blue-700);
  padding: 24px 16px;
  transition: all 0.3s ease-in-out;
}
main.tests .admin-cards > li h3 {
  font-size: 20px;
  margin-bottom: 16px;
}
main.tests .admin-cards > li:hover {
  transform: scale(1.02);
  box-shadow: 0 0 1rem rgba(104, 18, 191, 0.1);
}
main.tests .admin-cards .info-card {
  width: 56px;
}
main.tests .admin-cards .info-card > div {
  background-color: var(--blue-800);
  border-radius: 12px;
  height: 64px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 12px 16px 10px;
}
main.tests .admin-cards .info-card > div i {
  color: var(--violet-900);
  font-size: 18px;
}
main.tests .admin-cards .info-card > div p {
  color: white;
  font-weight: bold;
  margin-top: 2px;
}
main.tests .admin-cards .info-card > p {
  font-size: 11px;
  color: var(--violet-200);
  text-align: center;
  font-weight: 500;
  margin-top: 4px;
}
main.tests .user-cards li a {
  display: flex;
  width: 100%;
  background-color: var(--blue-700);
  border-radius: 12px;
  padding: 8px 12px;
  justify-content: space-between;
  align-items: center;
  transition: all 0.3s ease-in-out;
  border: 1px solid transparent;
  color: var(--violet-200);
}
main.tests .user-cards li a h3 {
  font-size: 18px;
  margin: 0;
}
main.tests .user-cards li a:hover {
  transform: scale(1.03);
  border-color: 1px solid var(--purple-900);
}
main.tests .user-cards li:not(:last-child) {
  margin-bottom: 8px;
}
main.tests .no-data {
  color: white;
  text-align: center;
  border: 1px dotted var(--purple-900);
  padding: 32px;
}
main.tests .no-data img {
  margin-bottom: 4px;
}
main.tests .no-data a {
  color: var(--violet-200);
}
main.tests .recent-answers {
  background-color: var(--blue-800);
  border-radius: 20px;
  padding: 32px 24px;
  height: 100%;
  display: flex;
  flex-direction: column;
  height: 100%;
  transition: box-shadow 0.25s ease-out;
}
main.tests .recent-answers h2 {
  font-size: 18px;
}
main.tests .recent-answers .no-answers {
  color: var(--blue-500);
  font-size: 18px;
  font-weight: 500;
}
main.tests .recent-answers:hover {
  box-shadow: 0 60px 120px rgba(27, 17, 69, 0.3);
}

main.answer-test {
  padding: 60px 0;
}
main.answer-test h1 {
  margin-bottom: 44px;
}
main.answer-test h2 {
  font-size: 18px;
  font-family: "Times New Roman", Times, serif;
  margin-bottom: 24px;
}
main.answer-test hr {
  margin: 44px 0;
}
main.answer-test .answer {
  display: flex;
  align-items: center;
  flex-direction: row-reverse;
}
main.answer-test .answer p {
  width: 100%;
  background-color: var(--violet-800);
  color: white;
  border-radius: 9px;
  padding: 8px 16px;
  margin-bottom: 0;
  border: 2px solid transparent;
  transition: all 0.15s ease-in-out;
}
main.answer-test .answer input:checked ~ p {
  border-color: var(--purple-900);
  transform: scale(1.02);
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.1);
}
main.answer-test .answer:not(:last-child) {
  margin-bottom: 12px;
}
main.answer-test .modal.result {
  background-color: rgba(44, 26, 82, 0.5);
}
main.answer-test .modal.result.pass .modal-content {
  background-color: var(--teal);
}
main.answer-test .modal.result.fail .modal-content {
  background-color: var(--violet-800);
}
main.answer-test .modal.result.fail .modal-content * {
  color: white;
}
main.answer-test .modal.result.fail .modal-content .grade {
  color: var(--danger-900);
}
main.answer-test .modal.result .modal-header {
  border-bottom-color: var(--blue-900);
}
main.answer-test .modal.result img {
  width: 52px;
  margin-bottom: 12px;
}
main.answer-test .modal.result p {
  font-family: var(--robotoCondensed);
  font-size: 20px;
}
main.answer-test .question.right .answer.right-answer p {
  background-color: var(--teal);
  color: var(--blue-900);
}
main.answer-test .question.right .answer.right-answer input[type=radio] + i {
  color: var(--teal);
}
main.answer-test .question.wrong .answer.right-answer p {
  border-color: var(--teal);
}
main.answer-test .question.wrong .answer.right-answer input[type=radio] + i {
  color: var(--teal);
}
main.answer-test .question.wrong .answer.selected p {
  border-color: var(--danger-900);
}
main.answer-test .question.wrong .answer.selected input[type=radio] + i {
  color: var(--danger-900);
}
main.answer-test .error-message {
  margin-top: 8px;
}

.http-errors {
  text-align: center;
  height: calc(100vh - 60px);
  display: flex;
  align-items: center;
}
.http-errors .image {
  margin-bottom: 20px;
}
.http-errors .image img {
  max-width: 100%;
  max-height: 50vh;
}
.http-errors .heading {
  color: white;
  font-family: var(--robotoCondensed);
  margin: 0 0 12px;
  font-size: 28px;
}
.http-errors .text {
  color: rgba(255, 255, 255, 0.6);
}
.http-errors .text a {
  color: var(--violet-200);
  text-decoration: underline;
}

@media (min-width: 767px) {
  .http-errors .heading {
    font-size: 44px;
  }
}

/*# sourceMappingURL=app.css.map */
