:root {
  /* Colors */
  --blue-900: #130c2e;
  --blue-800: #150c39;
  --blue-700: #1b1145;
  --blue-600: #291a55;
  --blue-500: #3f2e74;
  --violet-900: #301c59;
  --violet-800: #2c1a52;
  --violet-200: #905ef7;
  --violet-900A: #5e188c;
  --violet-500A: #6c17a6;
  --purple-900: #6812bf;
  --yellow-900: #fff01a;
  --danger-900: #e91e63;
  --danger-800: rgba(220, 56, 72, 0.23);
  --danger-700: rgba(220, 56, 72, 0.16);
  --success-900: #35dc6d;
  --success-800: rgba(#35dc6d, 0.23);
  --success-700: rgba(#35dc6d, 0.16);
  /* Fonts */
  --roboto: "Roboto", sans-serif;
  --robotoCondensed: "Roboto Condensed", sans-serif;
}

body {
  font-family: var(--roboto);
  color: white;
  background-color: var(--blue-900) !important;
}

h1,
h2,
h3 {
  color: white;
  font-family: var(--robotoCondensed);
}

@media (max-width: 767px) {
  h1 {
    font-size: 24px !important;
  }

  h2 {
    font-size: 20px;
  }

  h3 {
    font-size: 16px;
  }
}
form .inputs-wrapper {
  margin: 32px 0;
}
form .form-group:not(:last-child) {
  margin-bottom: 24px;
}
form label {
  color: white;
}
form label sup {
  color: var(--yellow-900);
}
form .input {
  background: var(--violet-800) !important;
  border-radius: 8px;
  padding: 4px 8px;
  color: white;
  border-color: transparent;
  height: 40px;
}
form .input.invalid {
  border-color: var(--danger-900);
}
form .input:focus {
  box-shadow: 0 0 0 0.2rem #6812bf;
}
form .input::placeholder {
  color: var(--blue-500);
}
form .error-message {
  color: var(--danger);
  margin-top: 4px;
}
form .error-message::first-letter {
  text-transform: capitalize;
}

.btn.btn-primary {
  position: relative;
  min-width: 160px;
  min-height: 44px;
  border-radius: 10px;
  font-size: 14px;
  transition: all 0.25s ease-in-out;
}

.btn.btn-primary {
  background-color: var(--purple-900);
  color: white;
  border: none;
  font-weight: 500;
}
.btn.btn-primary:hover {
  color: var(--blue-900);
  background-color: var(--violet-200);
}
.btn.btn-primary:hover a {
  background-color: var(--violet-200);
  color: var(--blue-900);
}
.btn.btn-primary:active, .btn.btn-primary:focus {
  background-color: var(--violet-200) !important;
  box-shadow: 0 0 0 0.2rem var(--purple-900) !important;
  transform: scale(0.98);
  color: var(--blue-900) !important;
}
.btn.btn-primary:active a, .btn.btn-primary:focus a {
  color: var(--blue-900) !important;
}
.btn.btn-primary:disabled {
  background-color: var(--blue-800);
}

.lds-ripple {
  position: absolute;
  top: 50%;
  right: 5px;
  transform: translateY(-50%);
  display: inline-block;
  width: 40px;
  height: 40px;
}

.lds-ripple div {
  position: absolute;
  border: 4px solid #fff;
  opacity: 1;
  border-radius: 50%;
  animation: lds-ripple 1s cubic-bezier(0, 0.2, 0.8, 1) infinite;
}

.lds-ripple div:nth-child(2) {
  animation-delay: -0.5s;
}

@keyframes lds-ripple {
  0% {
    top: 20px;
    left: 20px;
    width: 0;
    height: 0;
    opacity: 1;
  }
  100% {
    top: 0px;
    left: 0px;
    width: 40px;
    height: 40px;
    opacity: 0;
  }
}
.page-spinner {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: var(--violet-900);
  display: flex;
  align-items: center;
  justify-content: center;
}
.page-spinner .lds-hourglass {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
}
.page-spinner .lds-hourglass:after {
  content: " ";
  display: block;
  border-radius: 50%;
  width: 0;
  height: 0;
  margin: 8px;
  box-sizing: border-box;
  border: 32px solid #fff;
  border-color: #fff transparent #fff transparent;
  animation: lds-hourglass 1.2s infinite;
}
@keyframes lds-hourglass {
  0% {
    transform: rotate(0);
    animation-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
  }
  50% {
    transform: rotate(900deg);
    animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
  }
  100% {
    transform: rotate(1800deg);
  }
}

.navbar {
  background-color: var(--blue-900);
  box-shadow: 0 2px 0.5rem rgba(104, 18, 191, 0.34);
  border-bottom: 1px solid var(--purple-900);
  padding: 0 !important;
}
.navbar .container {
  height: 100%;
}
.navbar .dropdown-toggle {
  margin-left: 12px;
}
.navbar .dropdown-menu {
  background-color: var(--blue-900);
  border: 1px solid var(--purple-900);
  right: 0;
  left: unset;
  padding: 0;
}
.navbar .dropdown-menu .dropdown-item:hover {
  background-color: transparent;
  color: var(--purple-900);
}
.navbar ul {
  display: flex;
  width: 100%;
  justify-content: flex-end;
}
.navbar ul a {
  color: white;
  display: block;
  height: 60px;
  display: flex;
  align-items: center;
  transition: all 0.25s ease-in-out;
}
.navbar ul a:hover {
  text-decoration: none !important;
}
.navbar ul a.active {
  color: white;
  background-color: var(--purple-900);
}
.navbar ul a.nav-link {
  padding: 10px 20px;
}
.navbar ul a.nav-link:hover {
  background-color: var(--blue-500);
}
@media (max-width: 767px) {
  .navbar ul a {
    font-size: 14px;
    padding: 6px 10px;
    height: 40px;
  }
}

.toaster {
  color: white;
  margin: 0;
  padding: 16px;
  border-radius: 12px;
  max-width: 300px;
  font-size: 14px;
  position: fixed !important;
  top: 12px;
  left: 50%;
  z-index: 2;
  transform: translateX(-50%);
  transition: all 0.25s ease-in-out;
  display: flex;
  align-items: center;
  white-space: nowrap;
}
.toaster .close:hover {
  color: white;
}
.toaster .icon {
  width: 32px;
  height: 32px;
  font-size: 14px;
  border-radius: 50%;
  color: rgba(255, 255, 255, 0.6);
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 12px;
}
.toaster.show {
  transform: none;
  opacity: 1;
}
.toaster.success {
  background-color: var(--success-800) !important;
}
.toaster.success icon {
  background-color: var(--success-700);
}
.toaster.danger {
  background-color: var(--danger-800) !important;
}
.toaster.danger icon {
  background-color: var(--danger-700);
}

main.auth .container {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 32px;
  padding-bottom: 32px;
}
main.auth .toaster {
  min-width: min(100%, 400px);
}
main.auth h1 {
  font-size: 32px;
  margin-bottom: 4px;
}
main.auth form {
  width: min(100%, 400px);
  border: 1px solid var(--purple-900);
  box-shadow: 0 0 0.5rem rgba(0, 0, 0, 0.1);
  padding: 44px 32px;
  border-radius: 12px;
}
main.auth form h1 + p {
  color: var(--violet-200);
  font-size: 14px;
}
main.auth form h1 + p a {
  color: white;
  text-decoration: underline;
}
main.auth form h1 + p a:hover {
  color: var(--yellow-900);
}

.dashboard main {
  padding: 32px 0;
}

.home .carousel-item {
  min-height: calc(100vh - 60px);
}
.home .carousel-item .heading {
  font-size: 28px;
  margin-bottom: 8px;
  color: var(--violet-200);
}
.home .carousel-item img {
  max-height: 60vh;
}

.dashboard main.add-test {
  padding: 60px 0 120px;
}
.dashboard main.add-test h1 {
  margin-bottom: 44px;
}
.dashboard main.add-test .question {
  position: relative;
}
.dashboard main.add-test .question .remove-question-btn {
  background-color: transparent;
  color: var(--danger);
  border: none;
  padding: 0;
  font-size: 20px;
  position: absolute;
  right: 0;
  top: -10px;
}
.dashboard main.add-test .question .remove-question-btn:hover {
  opacity: 0.8;
}
.dashboard main.add-test .question:not(:last-child) {
  margin-bottom: 44px;
}
.dashboard main.add-test .q-counter {
  width: 180px;
  height: 180px;
  border: 1px solid #6812bf52;
  border-radius: 42px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  box-shadow: 0 0 0.7rem #2c1a52;
  color: white;
  font-size: 20px;
}
.dashboard main.add-test legend {
  font-size: 20px;
  color: var(--violet-200);
}
.dashboard main.add-test .answer .inputs {
  display: flex;
  align-items: center;
}
.dashboard main.add-test .answer .radio-wrapper {
  margin-left: 8px;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}
.dashboard main.add-test .answer .radio-wrapper input {
  opacity: 0.01;
  width: 25px;
  height: 25px;
  display: block;
  position: relative;
  z-index: 2;
  cursor: pointer;
}
.dashboard main.add-test .answer .radio-wrapper input:checked + .custom-radio i {
  color: greenyellow;
}
.dashboard main.add-test .answer .radio-wrapper input:focus + .custom-radio {
  border-radius: 50%;
  border: 1px solid var(--purple-900);
}
.dashboard main.add-test .answer .custom-radio {
  width: 25px;
  height: 25px;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 24px;
}
.dashboard main.add-test .answer .custom-radio i {
  display: block;
  color: var(--violet-800);
}
.dashboard main.add-test .answer .custom-radio i:hover {
  color: var(--violet-200);
}
.dashboard main.add-test .add-question-btn {
  position: fixed;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
  text-align: center;
  border: none;
  background-color: transparent;
}
.dashboard main.add-test .add-question-btn img {
  filter: drop-shadow(0px 0px 3px rgba(255, 255, 255, 0.1));
}
.dashboard main.add-test .add-question-btn:hover img {
  filter: drop-shadow(2px 4px 3px rgba(255, 255, 255, 0.25));
}

.tests h1 {
  margin: 60px 0 44px;
}
.tests .no-data {
  color: white;
  text-align: center;
  border: 1px dotted var(--purple-900);
  padding: 32px;
}
.tests .no-data img {
  min-width: 120px;
  margin-bottom: 4px;
}
.tests .no-data a {
  color: var(--violet-200);
}
.tests .cards {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(230px, 1fr));
  gap: 20px;
}
.tests .cards > li {
  border-top: 2px solid var(--purple-900);
  background-color: var(--blue-700);
  padding: 24px 16px;
  transition: all 0.3s ease-in-out;
}
.tests .cards > li a:hover {
  text-decoration: none !important;
}
.tests .cards > li h2 {
  font-size: 20px;
  margin-bottom: 16px;
}
.tests .cards > li:hover {
  transform: scale(1.02);
  box-shadow: 0 0 1rem rgba(104, 18, 191, 0.1);
}
.tests .cards .info-card {
  width: 54px;
}
.tests .cards .info-card > div {
  background-color: var(--blue-800);
  border-radius: 12px;
  height: 60px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 12px 16px;
}
.tests .cards .info-card > div i {
  color: var(--violet-900);
}
.tests .cards .info-card > div p {
  color: white;
  font-weight: bold;
  margin-top: 4px;
}
.tests .cards .info-card > p {
  font-size: 10px;
  color: var(--violet-200);
  text-align: center;
}

/*# sourceMappingURL=app.css.map */
