:root {
  /* Colors */
  // Blues
  --blue-900: #130c2e;
  --blue-800: #150c39;
  --blue-700: #1b1145;
  --blue-600: #291a55;
  --blue-500: #3f2e74;

  //Violest
  --violet-900: #301c59;
  --violet-800: #2c1a52;
  --violet-200: #905ef7;

  --violet-900A: #5e188c;
  --violet-500A: #6c17a6;

  //Purples
  --purple-900: #6812bf;

  //Yellows
  --yellow-900: #fff01a;

  //User input indicators
  --danger: #e91e63;

  /* Fonts */
  --roboto: "Roboto", sans-serif;
  --robotoCondensed: "Roboto Condensed", sans-serif;
}
