%button {
  position: relative;
  min-width: 160px;
  min-height: 44px;
  border-radius: 10px;
  font-size: 14px;
  transition: all 0.25s ease-in-out;
}

.btn.btn-primary {
  @extend %button;
  background-color: var(--purple-900);
  color: white;
  border: none;
  font-weight: 500;
  &:hover {
    color: var(--blue-900);
    background-color: var(--violet-200);
    a {
      background-color: var(--violet-200);
      color: var(--blue-900);
    }
  }
  &:active,
  &:focus {
    background-color: var(--violet-200) !important ;
    box-shadow: 0 0 0 0.2rem var(--purple-900) !important;
    transform: scale(0.98);
    color: var(--blue-900) !important;
    a {
      color: var(--blue-900) !important;
    }
  }
  &:disabled {
    background-color: var(--blue-800);
  }
}
