form {
  .inputs-wrapper {
    margin: 32px 0;
  }

  .form-group:not(:last-child) {
    margin-bottom: 24px;
  }

  label {
    color: white;
    sup {
      color: var(--yellow-900);
    }
  }

  .input {
    background: var(--violet-800) !important;
    border-radius: 8px;
    padding: 4px 8px;
    color: white;
    border-color: transparent;
    height: 40px;
    &.invalid {
      border-color: var(--danger-900);
    }
    &:focus {
      box-shadow: 0 0 0 0.2rem rgb(104 18 191);
    }
    &::placeholder {
      color: var(--blue-500);
    }
  }

  .error-message {
    color: var(--danger);
    margin-top: 4px;
    &::first-letter {
      text-transform: capitalize;
    }
  }

  .custom-radio {
    position: relative;

    input[type="radio"] {
      position: relative;
      z-index: 2;
      width: 32px;
      height: 32px;
      opacity: 0.01;
      margin-left: 16px;
      cursor: pointer;

      &:checked + i {
        color: var(--purple-900);
      }
    }

    i {
      font-size: 32px;
      position: absolute;
      right: 0;
      top: 50%;
      z-index: 1;
      transform: translateY(-50%);
      color: var(--violet-800);
    }
  }
}
