.navbar {
  background-color: var(--blue-900) !important;
  box-shadow: 0 2px 0.5rem rgb(104 18 191 / 34%);
  border-bottom: 1px solid var(--purple-900);
  padding: 0 !important;

  .container {
    height: 100%;
    padding-right: 15px !important;
    padding-left: 15px !important;
  }

  .logo {
    font-size: 16px;
  }

  .dropdown-toggle {
    margin-left: 12px;
  }

  .navbar-toggler {
    background-color: var(--blue-800);
  }

  .dropdown-menu {
    background-color: var(--blue-900);
    border: 1px solid var(--purple-900);
    top: calc(100% + 8px);
    right: 0;
    left: unset;
    padding: 24px 16px;

    hr {
      margin: 8px 0;
    }

    .dropdown-item {
      padding: 0;
      height: auto;
      &:hover {
        background-color: transparent;
        &:not(.user-info) {
          color: var(--violet-200);
        }
      }
    }
  }

  .user-info {
    display: flex;
    align-items: flex-start;
    img {
      max-width: 40px;
      margin-right: 8px;
    }
    h3 {
      font-size: 16px;
      font-weight: bold;
      margin-bottom: 0;
    }
    span {
      font-size: 14px;
      color: rgba(white, 0.6);
    }
    &:hover {
      color: white;
      opacity: 0.8;
    }
  }

  ul {
    display: flex;
    width: 100%;
    justify-content: flex-end;

    a {
      color: white;
      display: block;
      height: 60px;
      display: flex;
      align-items: center;
      transition: all 0.25s ease-in-out;

      &:hover {
        text-decoration: none !important;
      }

      &.active {
        color: white;
        background-color: var(--purple-900);
      }

      &.nav-link {
        padding: 10px 20px !important;

        &:hover {
          background-color: var(--blue-500);
        }
      }
    }

    @media (max-width: 767px) {
      a {
        font-size: 14px;
        padding: 6px 10px;
        height: 40px;
      }
    }
  }
}
