.dashboard main.add-test {
  padding: 60px 0 120px;

  h1 {
    margin-bottom: 44px;
  }

  .question {
    position: relative;
    .remove-question-btn {
      background-color: transparent;
      color: var(--danger);
      border: none;
      padding: 0;
      font-size: 20px;
      position: absolute;
      right: 0;
      top: -10px;

      &:hover {
        opacity: 0.8;
      }
    }
    &:not(:last-child) {
      margin-bottom: 44px;
    }
  }

  .q-counter {
    width: 180px;
    height: 180px;
    border: 1px solid #6812bf52;
    border-radius: 42px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    box-shadow: 0 0 0.7rem rgb(44 26 82);
    color: white;
    font-size: 20px;
  }

  legend {
    font-size: 20px;
    color: var(--violet-200);
  }

  .answer {
    .inputs {
      display: flex;
      align-items: center;
    }

    .radio-wrapper {
      margin-left: 8px;
      position: relative;

      display: flex;
      align-items: center;
      justify-content: center;
      input {
        opacity: 0.01;
        width: 25px;
        height: 25px;
        display: block;
        position: relative;
        z-index: 2;
        cursor: pointer;
        &:checked + .custom-radio i {
          color: greenyellow;
        }
        &:focus + .custom-radio {
          border-radius: 50%;
          border: 1px solid var(--purple-900);
        }
      }
    }
    .custom-radio {
      width: 25px;
      height: 25px;
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      z-index: 1;
      display: flex;
      align-items: center;
      justify-content: center;
      font-size: 24px;
      i {
        display: block;
        color: var(--violet-800);
        &:hover {
          color: var(--violet-200);
        }
      }
    }
  }

  .add-question-btn {
    position: fixed;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
    border: none;
    background-color: transparent;
    img {
      filter: drop-shadow(0px 0px 3px rgba(255, 255, 255, 0.1));
    }
    &:hover img {
      filter: drop-shadow(2px 4px 3px rgba(255, 255, 255, 0.25));
    }
  }
}
