.http-errors {
  text-align: center;
  height: calc(100vh - 60px);
  display: flex;
  align-items: center;
  .image {
    img {
      max-width: 100%;
      max-height: 50vh;
    }
    margin-bottom: 20px;
  }
  .heading {
    color: white;
    font-family: var(--robotoCondensed);
    margin: 0 0 12px;
    font-size: 28px;
  }
  .text {
    color: rgba(white, 0.6);

    a {
      color: var(--violet-200);
      text-decoration: underline;
    }
  }
}

@media (min-width: 767px) {
  .http-errors {
    .heading {
      font-size: 44px;
    }
  }
}
